{{ define "cabinet" }}

{{ template "header" . }}

<head><link rel="stylesheet" href="/static/css/cabinet.css"></head>
<body>
    <h1>Личный кабинет</h1>
    <table>
        <tr>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Email</th>
            <th>Пол</th>
            <th>Дата рождения</th>
            <th>Паспортные данные</th>
        </tr>
        <tr>
            <td>{{.UserSurname}}</td>
            <td>{{.UserName}}</td>
            <td>{{.UserMiddlename}}</td>
            <td>{{.UserEmail}}</td>
            <td>{{.Male}}</td>
            <td>{{.DateOfBirth}}</td>
            <td>{{.PassportData}}</td>
        </tr>
    </table>
    <form action="/logout" method="post" id="cabinet">
        <button type="submit">Выйти</button>
    </form>
    <form action="/report" method="POST">
        <label for="period">Выберите период:</label>
        <select name="period" id="period">
            <option value="day">День</option>
            <option value="week">Неделя</option>
            <option value="month">Месяц</option>
            <option value="year">Год</option>
        </select>
        <button type="submit">Сформировать отчет</button>
    </form>
</body>

{{ template "footer" . }}

{{ end }}